[DEVICE]
Name=P18F87K22
Clock=64000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_GSM_PIC.c
[HEADERS]
Count=3
File0=Click_GSM_timer.h
File1=Click_GSM_config.h
File2=Click_GSM_types.h
[PLDS]
Count=1
File0=Click_GSM.pld
[Useses]
File0=GSM_P18
File1=UART
File2=C_String
File3=easypicpro_v7_P18F87K22
Count=4
